---
const links = [
  { href: '/', text: 'Home' },
  { href: '/about', text: 'About' },
  { href: '/blog', text: 'Blog' },
  { href: '/tags', text: 'Tags' },
]
---
<div class="nav-links">
  {links.map((link) => (
    <a href={link.href} class="rounded">{link.text}</a>
  ))}
</div>
